* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.total {
    display: flex;
    flex-direction: column;
}
.total_left {
    flex: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.total_right {
    flex: 50%;
    width 100%
}
.top {
    display: flex;
    margin-left: 35px;
    margin-top: 105px;
}
.book{
    width: 245px;
    height: 385px;
}
.row_one {
    display: flex;
}