* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.total_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1.5rem;
}
.total_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1.5rem;
}
.top {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    align-items: center;
}
.book {
    display: flex;
    justify-content: center;
}
.book img {
    width: 100%;

}
.top_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.row_one {
    display: flex;
}
.row_one p {
    font-family: Kaushan Script;
font-size: 2.5rem;
font-weight: 400;
line-height: 3rem;
letter-spacing: 0em;
text-align: center;
}
.row_four button {   
    width: 6rem;
    height: 2.5rem;
}
.middle {
    display: flex;
    align-items: center;
    padding: .5rem;

}
.bottom_rating {
    display: none;
    background-color: #E7E2E2;
    box-sizing: border-box;
    width: 400px;
    height: 385px;
}

.total_right .row_one p {
    font-family: Kaushan Script;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: center;
}

.total_right .middle {
    display: flex;
    align-items: center;
    padding: .5rem;
}
.total_right .bottom_rating {
    display: none;
    background-color: #E7E2E2;
    box-sizing: border-box;
    width: 400px;
    height: 385px;
}
@media only screen and (min-width:768px) {
    .book img {
        width: 70%;
    }
    .row_one {
        display: flex;
    }
.bottom_rating {
        display: flex;
        background-color: #E7E2E2;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        width: 40rem;
        height: 25rem;
}
.total_right .bottom_rating {
    display: flex;
    background-color: #E7E2E2;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 25rem;
}
}
@media only screen and (min-width:1000px) {
.total {
    display: flex;
    flex-direction: row;
}
.top {
    display: flex;
    flex-direction: row;  
}
.book img {
    display: flex;
    justify-items: left;
    width: 100%;
}
.row_one {
    display: flex;
}

.row_four button {
    width: 14rem;
    height: 4rem;
}
.middle img {
    width: 30rem;
}
.total_right .middle {
    display: flex;
    align-items: center;
    padding: .5rem;
}
.total_right .bottom_rating {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E2E2;
    box-sizing: border-box;   
    width: 42rem;
    height: 25rem;
}
}