* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 414px;
  height: 896px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #b6a497;
  background-size: cover;
  width: 100%;
  height: 80px;
  align-items: center;
  padding-left: 34px;
}
.menu_header img {
  width: 50px;
}
.topbar_header ul {
  display: none;
}
.topbar_header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #f2e8e0;
  width: 175px;
  height: 70px;
  margin-right: 35px;
  font-family: Mate SC;
  font-size: 25px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: center;
}
form {
  display: flex;
  width: 100%;
  justify-content: center;
}
form input {
  width: 300px;
  height: 40px;
  border-radius: 30px;
  margin-top: 17px;
  margin-bottom: 19px;
  padding-left: 47px;
  font-family: Khula;
  font-size: 32px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #BCAEAE;
  ;

}
.search_icon {
  position: absolute;
  right: 75px;
  margin-top: 23px;
}
.search_icon img {
  width: 30px;
}
.welcomepage {
  display: flex;
  flex-direction: column;
  background-color: #f1d3bd;
  box-sizing: border-box;
  height: 700px;
  width: 400px;
  margin-left: 10px;
}
.welcomepage_left {
  display: flex;
  flex-direction: column;
}
.welcomepage_left p1 {
    font-family: Kaushan Script; cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 181px;
    letter-spacing: 0em;
    text-align: center; 
    width: 300px;
    height: 80px;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 80px;   
}
.welcomepage_left p2 {
    font-family: Kokoro;
    font-size: 25px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: Center;
    margin-left: 0px;
    width: 400px;
    height: 307px;
    margin-bottom: 36px;
}
.welcomepage_left button {
    font-family: Kumbh Sans;
font-size: 32px;
font-weight: 800;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
background-color: #FFFFFF;
border: none;
width: 265px;
height: 70px;
margin-left: 70px;
}
.welcomepage_right {
  flex: 50%;
  display: none;
  flex-direction: column;
}
.welcomepage_right p {
  margin-top: 53px;
  margin-bottom: 40px;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: top;
}
.books {
  display: flex;
  flex-direction: column;
  width: 574px;
  height: 623px;
}
.first_book_row, .second_book_row {
    display: flex;
    column-gap: 56px;
    margin-bottom: 41px;
}
@media only screen and (min-width:768px) {
  body {
    width: 768px;
    height: 1024px;
  }
  header {
    display: flex;
    justify-content: space-between;
    background-color: #b6a497;
    background-size: cover;
    width: 768px;
    height: 80px;
    align-items: center;
    padding-left: 34px;
  }
  form input {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    margin-top: 17px;
    margin-bottom: 19px;
    padding-left: 30px;
    font-family: Khula;
    font-size: 20px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color: #BCAEAE;
  }
  .search_icon {
    position: absolute;
    right: 250px;
    margin-top: 23px;
  }
  .search_icon img {
    width: 30px;
  }
  .topbar_header ul {
    display: flex;
  }
  .topbar_header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #f2e8e0;
    width: 100px;
    height: 50px;
    margin-right: 35px;
    font-family: Mate SC;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-transform: uppercase;
    text-align: center;
  }
  .welcomepage {
    display: flex;
    flex-direction: row;
    background-color: #f1d3bd;
    box-sizing: border-box;
    height: 700px;
    width: 750px;
    margin-left: 10px;
  }
  .welcomepage_right {
    flex: 50%;
    display: block;
    flex-direction: column;
  }
  .welcomepage_right p {
    margin-top: 53px;
    margin-bottom: 40px;
    margin-right: 230px;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    vertical-align: top;
  }
  .books {
    display: flex;
    flex-direction: column;
    width: 574px;
    height: 623px;
    margin-top: 65px;
  }
  .books img {
    width: 75px;
  }
  .first_book_row, .second_book_row {
      display: flex;
      column-gap: 56px;
      margin-bottom: 41px;
  }
}
@media only screen and (min-width:1000px) {
  body {
    width: 1435px;
    height: 1024px;
  }
  header {
  display: flex;
  justify-content: space-between;
  background-color: #b6a497;
  background-size: cover;
  width: 1435px;
  height: 140px;
  align-items: center;
  padding-left: 34px;
}
.menu_header img {
  width: 100px;
}
.topbar_header ul {
  display: flex;
}
.topbar_header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #f2e8e0;
  width: 175px;
  height: 70px;
  margin-right: 35px;
  font-family: Mate SC;
  font-size: 25px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
}
form input {
  width: 846px;
  height: 69px;
  border-radius: 30px;
  margin-top: 17px;
  margin-bottom: 19px;
  padding-left: 47px;
  font-family: Khula;
  font-size: 32px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #BCAEAE;
  ;

}
.search_icon {
  position: absolute;
  margin-right: 75px;
  margin-top: 25px;
}
.search_icon img {
  width: 50px;
}
.welcomepage {
  display: flex;
  background-color: #f1d3bd;
  box-sizing: border-box;
  height: 700px;
  width: 1202px;
  margin-left: 93px;
}
.welcomepage_left {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
.welcomepage_left p1 {
    font-family: Kaushan Script; cursive;
    font-size: 125px;
    font-weight: 400;
    line-height: 181px;
    letter-spacing: 0em;
    text-align: left; 
    width: 504px;
    height: 140px;
    margin-left: 41px;
    margin-top: 26px;
    margin-bottom: 52px;   
}
.welcomepage_left p2 {
    font-family: Kokoro;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 65px;
    width: 525px;
    height: 307px;
    margin-bottom: 36px;
}
.welcomepage_left button {
    font-family: Kumbh Sans;
font-size: 32px;
font-weight: 800;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
background-color: #FFFFFF;
border: none;
width: 265px;
height: 70px;
margin-left: 167px;
}
.welcomepage_right {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
.welcomepage_right p {
  margin-top: 53px;
  margin-bottom: 20px;
  margin-right: 0px;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: top;
}
.books {
  display: flex;
  flex-direction: column;
  width: 574px;
  height: 623px;
  margin-top: 0px;
}
.books img {
  width: 150px;
}
.first_book_row, .second_book_row {
    display: flex;
    column-gap: 56px;
    margin-bottom: 41px;
}
}
