*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contactus_page {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  top: 81px;
  row-gap: 45px;
}
.backdrop img {
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}
.size {
  width: 100%;
  box-sizing: border-box;
}
.size input, .size textarea {
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-family: khula;
}
.infobox {
  height: 70px;
}
.form_messagebox {
  height: 264px;
}

.contactus_page button {
  background-color: black;
  font-size: 36px;
  color: white;
  font: manrope;
  font-weight: 700;
  width: 200px;
}

@media only screen and (min-width:768px) {
  .backdrop img {
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    margin-left: 400px;
    margin-right: 400px;
    width: 600px;
  }
}