*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contactus_page {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  top: 6rem;
  row-gap: 3rem;
}
.backdrop img {
  width: 20rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 30rem;
}
.size {
  width: 100%;
  box-sizing: border-box;
}
.size input, .size textarea {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: khula;
}
.infobox {
  height: 4.5rem;
}
.form_messagebox {
  height: 15rem;
}

.contactus_page button {
  background-color: black;
  font-size: 2rem;
  color: white;
  font: manrope;
  font-weight: 700;
  width: 15rem;
}

@media only screen and (min-width:768px) {
  .backdrop img {
    width: 40rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  form {
    margin-left: 20rem;
    margin-right: 20rem;
    width: 38rem;
  }
}