* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.signup_page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "signup_left signup_right";
    gap: .45rem;
    margin: 1 rem;
    padding: 1rem;
    margin-left: 35px;
    text-size-adjust: 25px;
    
}
.signup_left {
    grid-area: signup_left;
}
.my_profile {
    display: flex;
    flex-direction: row ltr;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    gap: 28px;
    margin-top: 101px;
    margin-bottom: 19px;
}
.signup_page p {
    margin-bottom: 98px;
}
.signup_right {
    grid-area: signup_right;
    margin-top: 455px;
    margin-right: 250px;
}
.button {
    display: flex;
}